.Button {
    font-size: 1rem;
    border-radius: 100px;
    font-weight: 600;
  }

  .Primary {
    color: #fff;
    border: none;
    background-color: #258752;
  }
  
  .Button:hover {
    background-color: #279A5C !important;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #279A5C !important;
  }
  
  .Button:active {
    background-color: #279A5C !important;
  }
  
  .Button:focus {
    background-color: #279A5C;
  }
  
  .Wide {
    height: 48px;
    width: 100%;
  }
  