.Row {
  height: 80vh
}

.Container {
  min-height: 343px;
}

.Label {
  font-size: 14px;
  font-weight: 600;
}

.Input {
  background: #ffffff;
  border: 1px solid #D2D2D2;
  height: 48px;
  border-radius: 12px;
}

.Dropdown select {
  border-radius: 12px;
  border: 1px solid #D2D2D2;
  background: #ffffff;
  height: 48px;
  color: #152E21;
}

.OrderDropdown select {
  border-radius: 8px;
  border: 1px solid #D2D2D2;
  background: #ffffff;
  height: 40px;
  color: #152E21;
}

.SearchBar input {
  border-radius: 8px;
  color: #152E21;
  padding-left: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  padding: 11px;
  padding-left: 16px;
}