.NavBar {
    background-color: #fff;
    border: 1px solid #DFE5E6;
}

.NavLink {
    color: #152E21 !important;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    margin-right: 8px;
}

.NavLink:hover {
    color: #258752 !important;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.Active {
    color: #258752 !important;
}