.NavBar {
    background-color: #fff;
    border: 1px solid #DFE5E6;
}

.NavLink {
    color: #152E21 !important;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    margin-right: 8px;
}

.LogOut {
    color: #152E21 !important;
}

.LogOut:current {
    color: #152E21 !important;
}

.NavLink:hover {
    color: #258752 !important;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.Active {
    color: #258752 !important;
}

.DropdownItem {
    padding-left: 8px;
    font-size: 14px;
    font-weight: 600;
}

.DropdownItem:hover {
    background-color: #DFE5E6;
}

.Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
}

.ProfileDropDown {
    cursor: pointer;
}