.Row {
    height: 80vh
  }

.Container {
    min-height: 343px;
  }

.Label {
    font-size: 14px;
    font-weight: 600;
}

.Input {
    background: #ffffff;
    border: 1px solid #D2D2D2;
    height: 48px;
    border-radius: 12px;
}