.ProfileImage {
    object-fit: cover;
    height: 80px;
    width: 80px;
}

.ProfileOwner {
    font-size: 24px;
    font-weight: 600;
    display: inline;
}

.StatsLabel {
    font-size: 14px;
}

.Stats {
    font-size: 16px;
    font-weight: 600;
}

svg:hover {
    cursor: pointer;
    fill: #279A5C;
}