.App {
  font-family: "Inter", sans-serif;
  color: #152E21;
  background-color: #F0F5F6;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.Main {
  padding-top: 80px;
}

h1 {
  font-size: 32qpx;
  font-weight: 600;
}

.Card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #dadadf;
}

.Image {
  max-width: 100%;
  object-fit: contain;
  border-radius: 16px;

}

input[type="file"] {
  display: none;
}

a {
  color: #152E21;
  font-weight: 600;
}

a:hover {
  color: #152E21;
  text-decoration: none;
}